<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <title>智能停车系统</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/main.js"></script>
    <style>
        /*body{*/

        /*height:915px;*/

        /*}*/

        #table_id_example>tbody>tr>td {
            text-align: center;
            box-sizing: border-box;
            height: 49px;
            padding: 0;
            line-height: 49px;
        }

        #table_id_example>tbody>tr {
            box-sizing: border-box;
            background: none;
        }

        #table_id_example>thead>tr>th {
            text-align: center;
            box-sizing: border-box;
            height: 49px;
            padding: 0;
            line-height: 49px;
        }

        #table_id_example>thead>tr {
            box-sizing: border-box;
        }

        #table_id_example thead th,
        #table_id_example tbody td {
            box-sizing: border-box;
            border-bottom: 1px solid #b5cfd9;
        }

        table.dataTable.display tbody td {
            border-top: 0;
        }

        table.dataTable.display tbody tr.odd {
            background: none;
        }

        table.dataTable.hover tbody tr:hover,
        table.dataTable.display tbody tr:hover {
            background: none;
        }
    </style>


    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>

<body>
    <div class="content clearfix" style="height: 970px;">
        <!--顶部title-->
        <div class="main-top clearfix">
            <div class="main-topLeft">
                <img src="/static/image/logo.png" alt="" style="width:100%;">
            </div>
            <div class="" style="float: left;height:1px;width:41.66666667%;"></div>
            <div class="main-topRight">
                <p class="main-topRight-btn">
                    <a href="http://123.150.39.76/index.php/SchoolApp/Ajbi/Substation/stationIndex2.html" style="padding-right: 5%">主界面</a>
                    <a href="javascript:;" style="border-left: 1px solid #02d4ff;padding-left: 5%" class="esc">退出</a>
                </p>
                <p class="main-topRight-time">2018/00/00
                    <span>01:01:01</span>
                </p>
            </div>
        </div>
        <!--顶部title结束-->
        <div class="row clearfix">
            <!--左侧功能栏开始-->
            <div class="leftnav" style="height:805px;">
                <a class="leftnav-itemTitle nolist" href="javascript:;">
                    <span class="leftnav-itemTitle-zi on">
                        首页
                    </span>
                </a>

                <!--<a class="leftnav-itemTitle nolist"href="/sentrybox">-->
                <!--<span class="leftnav-itemTitle-zi">-->
                <!--岗亭客户端-->
                <!--</span>-->
                <!--</a>-->

                <a class="leftnav-itemTitle nolist" href="/control">
                    <span class="leftnav-itemTitle-zi">
                        控制器状态
                    </span>
                </a>

                <div class="leftnav-itemTitle haveList">
                    <span class="leftnav-itemTitle-zi">
                        数据分析
                    </span>
                </div>
                <ul class="leftnav-itemlist">
                    <li>
                        <a href="/retention">长期滞留车辆</a>
                    </li>
                    <!--<li>-->
                    <!--<a href="/anomaly">设备异常登记</a>-->
                    <!--</li>-->
                    <li>
                        <a href="/vehicleQuery">场内车辆查询</a>
                    </li>
                    <li>
                        <a href="/illegality">非法开闸查询</a>
                    </li>
                    <li>
                        <a href="/abnormal">车辆出场记录</a>
                    </li>
                    <li>
                        <a href="/statistics">车流量统计</a>
                    </li>
                </ul>
            </div>
            <!--左侧功能栏结束-->
            <!--右侧显示页面开始-->
            <div class="main-content">
                <div class="main-content-right">
                    <!--顶部开始-->
                    <div class="home-top clearfix">
                        <div class="home-top-img">
                            <img src="/static/image/home_logo.jpg" alt="" style="width:100%;height:100%;">
                        </div>
                        <div class="home-top-day">
                            <p class="home-top-dayTitle">安全运行</p>
                            <p class="home-top-dayNum">
                                <span style="font-size: 50px;color: #f6ff00;">20</span>
                                <span>天</span>
                            </p>
                        </div>
                        <div class="home-top-statistics">
                            <div class="home-top-statistics-title">
                                停车系统信息表
                            </div>
                            <div class="home-top-statistics-main">
                                <table id="table_id_example" class="display">

                                </table>
                            </div>
                        </div>
                    </div>
                    <!--顶部结束-->
                    <!--岗亭状态开始-->
                    <div class="clearfix" style="padding: 10px;padding-bottom: 0;width:100%;">
                        <div class="home-state-title" style="width:50%;border: 1px solid #b5cfd9;border-bottom: 0;border-right: 0;float: left">
                            <div class="home-state-title-content" style="color: #fff;padding: 10px 15px">西门入口</div>
                        </div>
                        <div class="home-state-title" style="width:50%;border: 1px solid #b5cfd9;border-bottom: 0;float: left">
                            <div class="home-state-title-content" style="color: #fff;padding: 10px 15px">地库入口</div>
                        </div>
                    </div>
                    <div class="home-state-box" style="display: block;padding-top: 0">
                        <div class="home-state">
                            <div class="home-state-list">
                                <div style="position: absolute;top:0;right:0;width: 200px;border-left: 1px solid #b5cfd9;border-bottom: 1px solid #b5cfd9;padding: 10px 15px;color: #fff"
                                    class="entercar">暂无车辆</div>
                                <div style="position: absolute;bottom:0;left:0;width: 200px;border-right: 1px solid #b5cfd9;border-top: 1px solid #b5cfd9;padding: 10px 15px;color: #fff"
                                    class="entercar2">暂无车辆</div>
                                <img src="/static/image/di.jpg" alt="" style="width:100%;height:100%;">
                                <div class="" style="position: absolute;top: -37px;left:0;right:0;bottom:0;margin: auto;width:340px;height: 139px;">
                                    <img src="/static/image/ting.png" alt="" style="width:100%;height:100%;">
                                    <img src="/static/image/gan.jpg" alt="" style="position: absolute;left:-300px;right:0;bottom:86px;margin: auto;width:5px;height:115px;"
                                        class="gan1">
                                    <img src="/static/image/gan.jpg" alt="" style="position: absolute;top: 100px;left:0;right:-303px;margin: auto;width:5px;height:115px;"
                                        class="gan">
                                    <img src="/static/image/che1.png" alt="" style="position: absolute;top: 240px;left:-450px;right:0px;bottom:0px;margin: auto;width: 100px;height:50px;opacity: 0"
                                        class="che1">
                                    <img src="/static/image/che3.png" alt="" style="position: absolute;top: -230px;left:450px;right:0px;bottom:0px;margin: auto;width: 100px;height:50px;opacity: 0"
                                        class="che2">
                                </div>

                                <div class="home-state-surplus">
                                    <p class="homt-top-surplus-title">剩余车位</p>
                                    <p class="homt-top-surplus-num sy"></p>
                                </div>
                            </div>
                            <div class="home-state-list" style="border-left:1px solid #b5cfd9 ">
                                <div style="position: absolute;top:0;right:0;width: 200px;border-left: 1px solid #b5cfd9;border-bottom: 1px solid #b5cfd9;padding: 10px 15px;color: #fff"
                                    class="entercar1">暂无车辆</div>
                                <div style="position: absolute;bottom:0;left:0;width: 200px;border-right: 1px solid #b5cfd9;border-top: 1px solid #b5cfd9;padding: 10px 15px;color: #fff"
                                    class="entercar3">暂无车辆</div>
                                <img src="/static/image/di.jpg" alt="" style="width:100%;height:100%;">
                                <div class="" style="position: absolute;top: -37px;left:0;right:0;bottom:0;margin: auto;width:340px;height: 139px;">
                                    <img src="/static/image/ting.png" alt="" style="width:100%;height:100%;">
                                    <img src="/static/image/gan.jpg" alt="" style="position: absolute;left:-300px;right:0;bottom:86px;margin: auto;width:5px;height:115px;"
                                        class="gan1">
                                    <img src="/static/image/gan.jpg" alt="" style="position: absolute;top: 100px;left:0;right:-303px;margin: auto;width:5px;height:115px;"
                                        class="gan">
                                    <img src="/static/image/che2.png" alt="" style="position: absolute;top: 240px;left:-450px;right:0px;bottom:0px;margin: auto;width: 100px;height:50px;opacity: 0"
                                        class="che1">
                                    <img src="/static/image/che4.png" alt="" style="position: absolute;top: -230px;left:450px;right:0px;bottom:0px;margin: auto;width: 100px;height:50px;opacity: 0"
                                        class="che2">
                                </div>

                                <div class="home-state-surplus">
                                    <p class="homt-top-surplus-title">剩余车位</p>
                                    <p class="homt-top-surplus-num sy1"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--岗亭状态结束-->
                </div>

            </div>
            <!--右侧显示页面结束-->
        </div>
    </div>
    <div class="closeWindow">
        <div class="closeWindow-content">
            <p>点击确认，将退出登录</p>
            <div class="close">关闭</div>
            <div class="off">取消</div>
        </div>
    </div>
</body>
<script>
    var data = [
        {
            "title": "地上停车位",
            "sum": "100",
            "surplus": "50",
            "monthCard": "25",
            "temporaryCard": "25"
        },
        {
            "title": "地下停车位",
            "sum": "100",
            "surplus": "50",
            "monthCard": "5",
            "temporaryCard": "45"
        }
    ];
    var table
    $(document).ready(function () {
        //        点击退出登录按钮
        $(".esc").click(function () {
            $(".closeWindow").css('display', 'block');
        });
        //        点击退出
        $(".close").click(function () {
            window.location.href = 'http://123.150.39.76/index.php/SchoolApp/Ajbi/Substation/login.html?schoolID=4'
        });
        //点击取消
        $(".off").click(function () {
            $(".closeWindow").css('display', 'none');
        });

        table = $('#table_id_example').DataTable({
            ajax: {
                url: "/GetParkingMessage",
                type: 'GET',
            },
            columns: [
                { data: 'BoxName', title: '名称' },
                { data: 'PlackNum', title: '车位总数' },
                { data: 'Empty', title: '剩余车位' },
                { data: 'TmpCar', title: '临时车数量' },
                { data: 'MonthCar', title: '月卡车数量' },
                { data: 'MoneyCar', title: '储值卡数量' },
                { data: 'FreeCar', title: '免费卡数量' },
            ],
            searching: false,
            ordering: false,
            paging: false,
            lengthChange: false
        });
    });

    $(function () {
        // 获取时间
        settime();
        var getTime = setInterval(settime, 1000);


        // 小车动画
        //西门车入
        function westCarEnter(number) {
            $(".che1").eq(0).animate({ "opacity": 1 }, 1000, function () {
                $(".gan").eq(0).animate({ "height": "30px" }, 1200, function () {
                    $(".che1").eq(0).animate({ "left": "450px" }, 2000, function () {
                        $(".gan").eq(0).animate({ 'height': "115px" }, 1000);
                    }).animate({ "opacity": 0 }, 1000).animate({ "left": "-450px" }, 100, function () {
                        $('.entercar2').html('暂无车辆');
                        $('.sy').html(number);
                    });
                });
            });
        };
        //西门车出
        function westCarCome(number) {
            $(".che2").eq(0).delay(800).animate({ "opacity": 1 }, 1000, function () {
                $(".gan1").eq(0).animate({ "height": "30px" }, 1200, function () {
                    $(".che2").eq(0).animate({ "left": "-500px" }, 2000, function () {
                        $(".gan1").eq(0).animate({ 'height': "115px" }, 1000);
                    }).animate({ "opacity": 0 }, 1000).animate({ "left": "450px" }, 100, function () {
                        $('.entercar').html('暂无车辆');
                        $('.sy').html(number);
                    });
                });
            });
        };
        //地库车入
        function basementCarEnter() {
            $(".che1").eq(1).animate({ "opacity": 1 }, 1000, function () {
                $(".gan").eq(1).animate({ "height": "30px" }, 1200, function () {
                    $(".che1").eq(1).animate({ "left": "450px" }, 2000, function () {
                        $(".gan").eq(1).animate({ 'height': "115px" }, 1000);
                    }).animate({ "opacity": 0 }, 1000).animate({ "left": "-450px" }, 100, function () {
                        $('.entercar3').html('暂无车辆');
                        $('.sy').html(number);
                    });
                });
            });
        };
        //地库车出
        function basementCarCome() {
            $(".che2").eq(1).delay(800).animate({ "opacity": 1 }, 1000, function () {
                $(".gan1").eq(1).animate({ "height": "30px" }, 1200, function () {
                    $(".che2").eq(1).animate({ "left": "-500px" }, 2000, function () {
                        $(".gan1").eq(1).animate({ 'height': "115px" }, 1000);
                    }).animate({ "opacity": 0 }, 1000).animate({ "left": "450px" }, 100, function () {
                        $('.entercar1').html('暂无车辆');
                        $('.sy').html(number);
                    });
                });
            });
        };
        //        $(".home-state-list").eq(0).click(function(){
        //            westCarCome();
        //            westCarEnter();
        //        });
        //        $(".home-state-list").eq(1).click(function(){
        //            basementCarCome();
        //            basementCarEnter();
        //        });
        // 获取剩余车位数
        function GetPlackNum() {
            $.get('/GetParkingMessage', function (data) {
                $('.sy').html(Number(data.data[0].Empty));
                $('.sy1').html(Number(data.data[1].Empty));
            });
        };
        GetPlackNum()

        //        ajax请求
        function getparking() {
            $.get('/GetInOut', function (data) {
                if (data.type == 200) {
                    if (data.message.out.MachNo == 1) {
                        westCarCome(data.message.out.Empty);
                        $('.entercar').html(data.message.out.CarNO);
                        $('.sy').html(Number(data.message.out.Empty) + 1);
                        table.ajax.reload();
                    } else if (data.message.out.MachNo == 2) {
                        basementCarCome(data.message.out.Empty);
                        $('.entercar1').html(data.message.out.CarNO);
                        $('.sy1').html(Number(data.message.out.Empty) + 1);

                    };
                    if (data.message.in.MachNo == 1) {
                        westCarEnter(data.message.in.Empty);
                        $('.entercar2').html(data.message.in.CarNO);
                        $('.sy').html(Number(data.message.in.Empty) - 1);
                        table.ajax.reload();
                    } else if (data.message.in.MachNo == 2) {
                        basementCarEnter(data.message.in.Empty);
                        $('.entercar3').html(data.message.in.CarNO);
                        $('.sy1').html(Number(data.message.in.Empty) - 1);

                    };
                } else if (data.type == 202) {
                    if (data.message.out.MachNo == 1) {
                        westCarCome(data.message.out.Empty);
                        $('.entercar').html(data.message.out.CarNO);
                        $('.sy').html(Number(data.message.out.Empty) + 1);
                        table.ajax.reload();
                    } else if (data.message.out.MachNo == 2) {
                        basementCarCome(data.message.out.Empty);
                        $('.entercar1').html(data.message.out.CarNO);
                        $('.sy1').html(Number(data.message.out.Empty) + 1);

                    };
                } else if (data.type == 201) {
                    if (data.message.in.MachNo == 1) {
                        westCarEnter(data.message.in.Empty);
                        $('.entercar2').html(data.message.in.CarNO);
                        $('.sy').html(Number(data.message.in.Empty) - 1);
                        table.ajax.reload();
                    } else if (data.message.in.MachNo == 2) {
                        basementCarEnter(data.message.in.Empty);
                        $('.entercar3').html(data.message.in.CarNO);
                        $('.sy1').html(Number(data.message.in.Empty) - 1);

                    };
                } else if (data.type == 300) {
                    console.log('没有车辆')
                } else {
                    alert(JSON.stringify(data.message));
                };
            })
        }
        getparking();


        //        ajax请求
        setInterval(getparking, 60000);
    });
</script>

</html>