<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <title>智能停车系统</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/main.js"></script>
    <style>
        body{
            height:915px;
        }
        #table_id_example>tbody>tr>td{
            text-align:center;
            box-sizing: border-box;
            height: 49px;
            padding: 0;
            line-height:49px;
        }
        #table_id_example>tbody>tr{
            box-sizing: border-box;
            background: none;
        }
        #table_id_example>thead>tr>th{
            text-align:center;
            box-sizing: border-box;
            height: 49px;
            padding: 0;
            line-height:49px;
        }
        #table_id_example>thead>tr{
            box-sizing: border-box;
        }
        #table_id_example thead th, #table_id_example tbody td{
            box-sizing: border-box;
            border-bottom: 1px solid #b5cfd9;
        }
        table.dataTable.display tbody td {
            border-top: 0;
        }
        table.dataTable.display tbody tr.odd {
            background: none;
        }
        table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
            background: none;
        }
    </style>

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>
<body>
<div class="content clearfix">
    <!--顶部title-->
    <div class="main-top clearfix">
        <div class="main-topLeft">
            <img src="image/logo.png" alt="" style="width:100%;">
        </div>
        <div class="" style="float: left;height:1px;width:41.66666667%;"></div>
        <div class="main-topRight">
            <p class="main-topRight-btn">
                <a href="../../../../asdf.html" style="padding-right: 5%">主界面</a>
                <a href="javascript:;" style="border-left: 1px solid #02d4ff;padding-left: 5%" class="esc">退出</a>
            </p>
            <p class="main-topRight-time">2018/00/00<span>01:01:01</span></p>
        </div>
    </div>
    <!--顶部title结束-->
    <div class="row clearfix">
        <!--左侧功能栏开始-->
        <div class="leftnav" style="height:760px;">
            <a class="leftnav-itemTitle nolist"href="javascript:;">
            <span class="leftnav-itemTitle-zi on">
                首页
            </span>
            </a>

            <a class="leftnav-itemTitle nolist"href="sentrybox.html">
            <span class="leftnav-itemTitle-zi">
                岗亭客户端
            </span>
            </a>

            <a class="leftnav-itemTitle nolist"href="control.html">
            <span class="leftnav-itemTitle-zi">
                控制器状态
            </span>
            </a>

            <div class="leftnav-itemTitle haveList">
            <span class="leftnav-itemTitle-zi">
                数据分析
            </span>
            </div>
            <ul class="leftnav-itemlist">
                <li>
                    <a href="retention.html">长期滞留车辆</a>
                </li>
                <li>
                    <a href="anomaly.html">设备异常登记</a>
                </li>
                <li>
                    <a href="vehicleQuery.html">场内车辆查询</a>
                </li>
                <li>
                    <a href="illegality.html">非法开闸查询</a>
                </li>
                <li>
                    <a href="abnormal.html">异常出厂查询</a>
                </li>
                <li>
                    <a href="statistics.html">车流量统计</a>
                </li>
            </ul>
        </div>
        <!--左侧功能栏结束-->
        <!--右侧显示页面开始-->
        <div class="main-content">
            <div class="main-content-right">
                <!--顶部开始-->
                <div class="home-top clearfix">
                    <div class="home-top-img">
                        <img src="image/home_logo.jpg" alt="" style="width:100%;height:100%;">
                    </div>
                    <div class="home-top-day">
                        <p class="home-top-dayTitle">安全运行</p>
                        <p class="home-top-dayNum"><span style="font-size: 50px;color: #f6ff00;">20</span><span>天</span></p>
                    </div>
                    <div class="home-top-statistics">
                        <div class="home-top-statistics-title">
                            停车系统信息表
                        </div>
                        <div class="home-top-statistics-main">
                            <table id="table_id_example" class="display">

                            </table>
                        </div>
                    </div>
                </div>
                <!--顶部结束-->
                <!--岗亭状态开始-->
                <div class="home-state-box" style="display: block">
                    <div class="home-state">
                        <div class="home-state-list">
                            <img src="image/di.jpg" alt="" style="width:100%;height:100%;">
                            <div class="" style="position: absolute;top: -37px;left:0;right:0;bottom:0;margin: auto;width:340px;height: 139px;">
                                <img src="image/ting.png" alt="" style="width:100%;height:100%;">
                                <img src="image/gan.jpg" alt="" style="position: absolute;left:-300px;right:0;bottom:86px;margin: auto;width:5px;height:115px;" class="gan1">
                                <img src="image/gan.jpg" alt="" style="position: absolute;top: 100px;left:0;right:-303px;margin: auto;width:5px;height:115px;" class="gan">
                                <img src="image/che1.png" alt="" style="position: absolute;top: 240px;left:-450px;right:0px;bottom:0px;margin: auto;width: 100px;height:50px;opacity: 0" class="che1">
                                <img src="image/che3.png" alt="" style="position: absolute;top: -230px;left:450px;right:0px;bottom:0px;margin: auto;width: 100px;height:50px;opacity: 0" class="che2">
                            </div>

                            <div class="home-state-surplus">
                                <p class="homt-top-surplus-title">剩余车位</p>
                                <p class="homt-top-surplus-num">15</p>
                            </div>
                        </div>
                        <div class="home-state-list" style="border-left:1px solid #b5cfd9 ">
                            <!--<div class="home-state-house">-->
                            <!--&lt;!&ndash;<div class="home-state-house-Qpole"></div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="home-state-house-Hpole"></div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="home-car-go"></div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="home-car-come"></div>&ndash;&gt;-->
                            <!---->
                            <!--</div>-->
                            <!--<div class="home-state-surplus">-->
                            <!--<p class="homt-top-surplus-title">剩余车位</p>-->
                            <!--<p class="homt-top-surplus-num">18</p>-->
                            <!--</div>-->
                            <img src="image/di.jpg" alt="" style="width:100%;height:100%;">
                            <div class="" style="position: absolute;top: -37px;left:0;right:0;bottom:0;margin: auto;width:340px;height: 139px;">
                                <img src="image/ting.png" alt="" style="width:100%;height:100%;">
                                <img src="image/gan.jpg" alt="" style="position: absolute;left:-300px;right:0;bottom:86px;margin: auto;width:5px;height:115px;" class="gan1">
                                <img src="image/gan.jpg" alt="" style="position: absolute;top: 100px;left:0;right:-303px;margin: auto;width:5px;height:115px;" class="gan">
                                <img src="image/che2.png" alt="" style="position: absolute;top: 240px;left:-450px;right:0px;bottom:0px;margin: auto;width: 100px;height:50px;opacity: 0" class="che1">
                                <img src="image/che4.png" alt="" style="position: absolute;top: -230px;left:450px;right:0px;bottom:0px;margin: auto;width: 100px;height:50px;opacity: 0" class="che2">
                            </div>

                            <div class="home-state-surplus">
                                <p class="homt-top-surplus-title">剩余车位</p>
                                <p class="homt-top-surplus-num">18</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--岗亭状态结束-->
            </div>

        </div>
        <!--右侧显示页面结束-->
    </div>
</div>
<div class="closeWindow">
        <div class="closeWindow-content">
            <p>点击确认，将退出登录</p>
            <div class="close">关闭</div>
            <div class="off">取消</div>
        </div>
</div>
</body>
<script>
    var data=[
        {
            "title":"地上停车位",
            "sum":"100",
            "surplus":"50",
            "monthCard":"25",
            "temporaryCard":"25"
        },
        {
            "title":"地下停车位",
            "sum":"100",
            "surplus":"50",
            "monthCard":"5",
            "temporaryCard":"45"
        }
    ];
    $(document).ready( function () {
//        点击退出登录按钮
        $(".esc").click(function(){
            $(".closeWindow").css('display','block');
        });
//        点击退出
        $(".close").click(function(){
            window.location.href='../../../../default.html'
        });
//点击取消
        $(".off").click(function(){
            $(".closeWindow").css('display','none');
        });

        $('#table_id_example').DataTable({
            data:data,
            columns: [
                { data: 'title',title:'名称' },
                { data: 'sum' ,title:'车位总数'},
                { data: 'surplus' ,title:'剩余车位'},
                { data: 'monthCard' ,title:'月卡车数量'},
                { data: 'temporaryCard',title:'临时车数量'}
            ],
            searching: false,
            ordering:  false,
            paging: false,
            lengthChange:false
        });
    } );
</script>
</html>